<link rel="stylesheet" href="/stylesheets/home.css" />

<section class="home">
<img src="/images/profile_default.png" width="200" height="150">
<br><br>
<h4>Name: <%=@user.first_name%> <%=@user.last_name%></h4>
<br><br>
<% %>
<h4>Date of Birth: <%=@user.dob%></h4>
<br><br>
<h4>Gender: <%=@user.gender%></h4>
<br><br>
<h4>Email:</h4>
<br>
<h4><%=@user.email%></h4>
<br><br>
<h4>Current Location:</h4>
<br>
<h4><%=@location['city']%>,</h4>
<br>
<h4><%=@location['region']%>, <%=@location['country']%></h4>
</section>

<section class="posts">
<p style="text-align:center">Posts:</p>
<br>
<%if @posts.size == 0%>
<p style="text-align:center"><%="You have no posts yet."%></p>
<%end%>
<%@posts.each do |post|%>
<h3><%=post.post_body%></h3>
<h6>posted by: <%=User.find(post.user_id).username%> on <%=post.when_posted %></h6>
<br>
<%end%>
</section>
