<link rel="stylesheet" href="/stylesheets/home.css" />

<section class="home">
  <%if @user.id == session[:user_id]%>
    <h3 style="text-align:center">(you)</h3>
  <%end%>
  <%if !@user.avatar.nil? %>
    <%link = @user.avatar%>
    <img src="<%=link%>" width="200" height="150" style="border: 3px solid rgb(143, 18, 18);">
  <%else%>
    <img src="/images/profile_default.png" width="200" height="150" alt="Default profile picture" style="border: 3px solid rgb(143, 18, 18);">
  <%end%>
  <%if @user.id == session[:user_id]%>
    <form action="/pic" method="post">
      <input type="text" name="avatar" placeholder="URL" required>
      <input type="submit" value="update profile image">
    </form>
  <%end%>
  <h5>Name: <%=@user.first_name%> <%=@user.last_name%></h5><br><br>
  <h5>Date of Birth: <%=@user.dob%></h5><br><br>
  <h5>Gender: <%=@user.gender%></h5> <br><br>
  <h5>Email:</h4><br>
  <h5><%=@user.email%></h5><br><br>
  <%if @user.id == session[:user_id]%>
    <h5>Current Location:</h5><br>
    <h5><%=@location['city']%>,</h5><br>
    <h5><%=@location['region']%>, <%=@location['country']%></h5>
  <%end%>
</section>

<section class="posts">
  <%if @user.id == session[:user_id]%>
    <p style="text-align:left">Create New Post:</p>
    <form action='/posts' method='post'>
      <input type="text" name="post_body" size="50" required>
      <input type="hidden" name="user_id" value="<%=@user.id%>">
      <input type="hidden" name="when_posted" <%@time = Time.now.to_s.split(' ')%> value=" <%="#{@time[0]} at #{@time[1]}"%>">
      <input type="submit" value="post">
    </form>
  <%end%>
  <h3>Old Posts:</h3>
  <h3>______________________________________</h3>
  <br>
  <%if @posts.size == 0%>
    <p style="text-align:center"><%="You have no posts yet."%></p>
  <%end%>
  <%counter = 0%>
  <%while counter < 8%>
    <%if @posts[counter] != nil%>
      <h3><%=@posts[counter].post_body%></h3>
      <h6>posted by: <%=User.find(@posts[counter].user_id).username%> on <%=@posts[counter].when_posted %></h6>
      <%counter += 1%><br>
    <%else%>
      <%counter += 1%>
    <%end%>
  <%end%>
</section>

<%if @user.id != session[:user_id]%>
  <%if @user.senders.include?(@self) && !@user.receivers.include?(@self)%>
    <section class="friend_button">
      <p>*(friendship requested)*</p>
      <form action='/friends/delete_request' method="post">
        <input id="hidden" type="hidden" name="_method" value="delete" >
        <input type="hidden" name="sender_id" value="<%=self.current_user.id %>">
        <input type="hidden" name="receiver_id" value="<%=@user.id%>">
        <input type="submit" value="cancel request">
      </form>
    </section>
  <%end%>
  <%if @user.receivers.include?(@self) && !@user.senders.include?(@self)%>
    <section class="friend_button">
      <p>*(friendship requested)*</p>
      <form action='/friends/request' method="post">
        <input type="hidden" name="sender_id" value="<%=self.current_user.id %>">
        <input type="hidden" name="receiver_id" value="<%=@user.id%>">
        <input type="submit" value="Accept Friendship">
      </form>
    </section>
  <%end%>
  <%if @user.receivers.include?(@self) && @user.senders.include?(@self)%>
    <section class="friend_button">
      <p>*(your friend)*</p>
      <form action='/friends/delete_friend' method="post">
        <input id="hidden" type="hidden" name="_method" value="delete" >
        <input type="hidden" name="sender_id" value="<%=self.current_user.id %>">
        <input type="hidden" name="receiver_id" value="<%=@user.id%>">
        <input type="submit" value="unfriend">
      </form>
    </section>
  <%end%>
  <%if !@self.senders.include?(@user) && !@self.receivers.include?(@user)%>
    <section class="friend_button">
      <form action='/friends/request' method="post">
        <input type="hidden" name="sender_id" value="<%=self.current_user.id %>">
        <input type="hidden" name="receiver_id" value="<%=@user.id%>">
        <input type="submit" value="Request Friendship">
      </form>
    </section>
  <%end%>
<%end%>


