<link rel="stylesheet" href="/stylesheets/posts.css" />

<div class="posts">
  <p>Create New Post:</p>
  <form action='/posts_page' method='post'>
    <input type="text" name="post_body" size="50" required>
    <input type="hidden" name="user_id" value="<%=@user.id%>">
    <input type="hidden" name="when_posted" <%@time = Time.now.to_s.split(' ')%>value=" <%="#{@time[0]} at #{@time[1]}"%>">
    <input type="submit" value="post">
  </form> <br>

  <h3>Old Posts:</h3>
  <h3>________________________________________________________________________________________________</h3><br>
  
  <%if @posts.size == 0%>
    <p style="text-align:center"><%="You have no posts yet."%></p>
  <%end%>
  <%counter = 0%>
  <%while counter < 7%>
    <%if @posts[counter] != nil%>
      <h3><%=@posts[counter].post_body%></h3>
      <h6>posted by: <%=User.find(@posts[counter].user_id).username%> on <%=@posts[counter].when_posted %> <a href="/posts/<%=@posts[counter].id%>/edit">edit</a></h6>
      <%counter += 1%><br>
    <%else%>
      <%counter += 1%>
    <%end%>
  <%end%>
    <form action="/posts" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete" >
      <input id="hidden" type="hidden" name="id" value="<%=@user.id%>">
      <h2 style="color:coral;"><button Onclick="return ConfirmDelete();" type="submit" name="actiondelete" value='DELETE'>Delete all of your posts</button></h2>
        <script>
          function ConfirmDelete(){
            var x = confirm("Are you sure you want to delete?");
            if (x)
              return true;
            else
              return false;
          }
        </script>    
    </form>              
</div>
